.card_img{
    background: greenyellow;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 30px #0006;
    border-radius: 8px;
    position: center;
}

.edad{
    text-align: center;
    margin-right: 49%;
}


.img{
    width: 200px;
    border-radius: 10%;
}

.red-card{
    background-color: rgb(245, 77, 23);
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 30px #0006;
    border-radius: 8px;
    position: left;
}

.blue-card{
    background-color: rgb(23, 208, 245);
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 30px #0006;
    border-radius: 8px;
    position: right;
}

.series-card, .movie-card{
    text-align: center;
    margin: 0;
}

.resumen-card{
    background-color: #059781 ;
    width: auto;
    margin: auto;
    margin-top: 50px;
    padding: 20px ;
    box-shadow: 0px 0px 30px #0006;
    border-radius: 8px;
    display: inline-block;
    margin: 40px;
}