.card_img{
    background: #b0f2c2;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 30px #0006;
    border-radius: 8px;
}

.edad{
    text-align: center;
    margin-right: 49%;
}

.img{
    width: 200px;
    border-radius: 10%;
}

.red-card{
    background-color: #c7f6d4;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 30px #0006;
    border-radius: 8px;
    display: inline-block;
    margin-left: 26%;
}

.blue-card{
    background-color: #ededaf;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 30px #0006;
    border-radius: 8px;
    display: inline-block;
    margin: 50px;
}

.series-card, .movie-card{
    text-align: center;
    margin: 0;
}

.resumen-card{
    background-color: #fcfcda ;
    width: auto;
    margin: auto;
    margin-top: 50px;
    padding: 20px ;
    box-shadow: 0px 0px 30px #0006;
    border-radius: 8px;
    display: inline-block;
    margin: 44px;
}